.page {
  --background: #fafafa;
  --foreground: #fff;
  --text-primary: #111;
  --text-secondary: #666;
  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;
  --red: #EE2222;
  --white: #ffffff;
  --grey: #f3f3f3;
  --black80: #111111;
  --black70: #333333;
}

.hBox01{
  padding: 6px 15px;
  border-left: 2px solid var(--red);
}

.hBox02{
  text-align: center;
  background: url(/images/797a60aba1.webp) no-repeat center center;
  background-size: cover;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  position: relative;
  z-index: 0;
  padding: 15px;
}

.hBox02::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0,0,0,0.7);
  z-index: -1;
}

.product01{
  background: url(/images/cc8c6fa8b5.webp) no-repeat right center;
  background-size: cover;
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 34px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--red);
  font-weight: 700;
  border: 1px solid var(--grey);
}

.product02{
  background: url(/images/dropdown-bg-02-1536x640.webp) no-repeat right center;
  background-size: cover;
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 34px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--red);
  font-weight: 700;
  border: 1px solid var(--grey);
}

.product03{
  background: url(/images/dropdown-bg-003-1536x640.webp) no-repeat right center;
  background-size: cover;
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 34px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--red);
  font-weight: 700;
  border: 1px solid var(--grey);
}

.product04{
  background: url(/images/dropdown-bg-04-1536x640.webp) no-repeat right center;
  background-size: cover;
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
  font-size: 34px;
  line-height: 36px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--red);
  font-weight: 700;
  border: 1px solid var(--grey);
}

.section03{
  background: url(/images/b2569d7d9c.webp) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  padding: 45px 0px;
  color: var(--white);
}

.section03::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background: #030303;
  background: linear-gradient(90deg,rgba(3, 3, 3, 0.7) 0%, rgba(238, 34, 34, 0.7) 100%);
}

.section03 h2{
  font-size: 44px;
}

.wwd{
  text-align: center;
  text-decoration: none;
}

.wwd h2{
  color: var(--black80);
  font-size: 20px;
  margin-top: 10px;
}

@media (max-width: 600px) {}