.innerherobanner{
    background: url(/images/hero-bg-inner.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
    height: 200px;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
}

.innerherobanner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.7);
    z-index: -1;
}

.p{
    text-align: justify;
}

.divider{
    height: 2px;
    width: 100px;
    background: var(--red);
    margin: auto;
    margin-bottom: 15px;
}

.wcuBox{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 35px 5px 35px 5px;
    box-shadow: 0px 5px 10px #d6d6d6;
    margin: 30px 10px;
}

.box01{
    width: 40%;
}

.box02{
    width: 60%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box02 h2{
    color: var(--red);
    font-size: 24px;
}